.content0{ width:95%;margin:0 auto;}
.Card{  border:1px solid #ECECEC;}
.cardul{width:100%;}
.cardul li{width:100%;display:flex;height:40px;line-height:40px;}
.cardul li i{color:#33cde5;display:inline-block;width:15%;height:40px;line-height:40px;float:left;font-weight:bold;}
.cardul li span{display:inline-block;height:40px;line-height:40px;float:left;}
.cardul li.cardli{color:#B7C2D0;}
.rowcol{margin-top:10px;}
.rowcol:last-child{margin-bottom:20px;}

/*顶部div*/
.JoinUTop{
  width:100%;
  padding:44px 0px;text-align:center;
  color:#000;margin-bottom:25px;margin-top:60px;
  background:url(http://le195525.oss-cn-shanghai.aliyuncs.com/Diyou/%E5%9B%BE%E7%89%87%E7%B2%BE%E7%81%B5/diyouCss3.png);
  background-position: 0 -9182px;
}
.JoinUTop h1{
  font-weight:bold;padding:10px 0px
}
.IntroduceImg7{
  height: 51px;
  width: 54px;
  display: inline-block;
  font-size: 0;
  margin-bottom:10px;
}
.IntroduceImg7 img{
  height: 51px;
  width: 54px;
}
@media screen and (max-width: 767px) {
  .JoinUTop{
    width:100%;
    padding:50px 0px;text-align:center;
    color:#fff;margin-top:0px;
    background:url(http://le195525.oss-cn-shanghai.aliyuncs.com/Diyou/placard-bg.jpg)
  }
}
