.content0{ width:95%;margin:0 auto;}

.aboutUsBgTop{
  background-image: url(http://le195525.oss-cn-shanghai.aliyuncs.com/Diyou/%E5%9B%BE%E7%89%87%E7%B2%BE%E7%81%B5/diyouCss3.png);
  background-position: 0 -9834px;
}

.AboutTop{
  display:flex;width:90% !important;margin-left:5%;
}
.AboutTopPart{
  height:50px !important;line-height:48px !important;text-align:center;flex:1;
}

/**A part*/
.AboutA{
  width:90%; margin-left:5%; height:330px; box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);display:flex;flex-flow:row;
}
.AboutA .AboutA-left{ display:inline-block;width:60%;height:330px}
.AboutA .AboutA-right{  display:inline-block;width:40%;height:330px}

.IntroduceImg5{
  height: 51px;
  width: 54px;
  display: inline-block;
  font-size: 0;
  background-repeat: no-repeat;
  background-image: url(http://www.diuber.com/images/dygc/logo-sf42d4190e.png);
  background-size: 136px 662px;
}
.IntroduceImg51{
  background-position: 0 -491px;
}
.IntroduceImg52{
  background-position: 0 -576px;
}
.IntroduceImg53{
  background-position: 0 -217px;
}
.IntroduceImg54{
  background-position: 0 -400px;
}
.IntroduceImg55{
  background-position: 0 -330px;
}
.IntroduceImg6{
  height: 51px;
  width: 54px;
  display: inline-block;
  font-size: 0;
  background-repeat: no-repeat;
  background-image: url(http://www.diuber.com/images/dygc/logo-sf42d4190.png);
  background-size: 136px 662px;
}
.IntroduceImg61{
  background-position: 0 -491px;
}
.IntroduceImg62{
  background-position: 0 -580px;
}
.IntroduceImg63{
  background-position: 0 -217px;
}
.IntroduceImg64{
  background-position: 0 -400px;
}
.IntroduceImg65{
  background-position: 0 -330px;
}
.IntroduceImg66{
  background-position: 0 -90px;
}
.IntroduceImg67{
  background-position: 0 -150px;
}

@media screen and (max-width: 767px) {
  .AboutTop{
    width:100% !important;display:flex;flex-flow:column;margin-left:0px !important;
  }
  .AboutTopPart{
    width:100%;height:50px !important;line-height:48px !important;text-align:center;
  }
}
