<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>嘀友科技</title>
  <link rel="shortcut icon" href="./bitbug_favicon.ico" />
  <link rel="stylesheet" href="./index.css" />
  <meta name="keywords" content="汽车租赁管理系统,车行管理软件,租车行业管理系统,租车管理软件,出租汽车管理系统,车辆租赁管理系统" />
  <meta name="description" content="嘀友科技是汽车租赁公司信息化引领者,为汽车租赁公司,租车行提供:车辆调度系统,租赁管理系统和租车管理软件,可为汽车租赁公司提升300%管理效率,是租赁公司信息化管理利器,电话:021-20250628。" />
  <link rel="stylesheet" href="./pace-theme-center-simple.css" />
</head>
<body>
  <div id="root"></div>
  <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
      m[i] = m[i] || function() {
        (m[i].a = m[i].a || []).push(arguments)
      };
      j = ei.createElement(q),
        s = ei.getElementsByTagName(q)[0];
      j.async = true;
      j.charset = 'UTF-8';
      j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
      s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 61619);
  </script>
  <style>
    #MEIQIA-BTN{
      width:60px !important;height:0px !important;border:1px solid red !important;
      position:fixed;top:65%;right:0px;margin-bottom:5px;
      border:none !important;box-shadow:none !important;padding:0px !important;
      /*background:url("http://www.techuangyi.com/statics/images/bootstrap/new_website_1/aside_icon2.gif");*/
    }
    #MEIQIA-BTN #MEIQIA-BTN-ICON{
      display: block;
      width:60px !important;
      height:60px !important;
      margin:0px !important;}
    .MEIQIA-ICON-CHAT11{ background-position: 0 50px !important;}
    .MEIQIA-ICON{
      width:60px !important;
      height:60px !important;
      background-image:url("http://www.techuangyi.com/statics/images/bootstrap/new_website_1/aside_icon2.gif") !important;
      background-repeat:repeat !important;
      opacity:0 !important;
      border-bottom:2px solid #fff !important;
    }
    #MEIQIA-BTN #MEIQIA-BUBBLE{
      bottom:-50px !important;
      left:60px !important;
    }
    #MEIQIA-BTN-LINE{ display:none !important;}
    #MEIQIA-BTN-TEXT{ display:none !important;}
  </style>
  <script src="https://cdn.bootcss.com/pace/1.0.2/pace.js"></script>
  <script src="../pace.js"></script>
</body>
</html>
